.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-view-seconds {
    font-size: 36px;
    height: 40vmin;
    align-content: center;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 3s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-fetch-btn {
    color: #61dafb;
    cursor: pointer;
    padding: 8px;
    border: 1px solid #61dafb;
    border-radius: 4px;
    margin-top: 12px;
}

.App-fetch-btn-disabled {
    color: gray;
    cursor: not-allowed;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
    margin-top: 12px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
